<div ng-controller="HomeController">
	<h1 class="page-header text-center text-primary">To Do List</h1>
	<br/>
	<div ng-repeat="t in todos">

		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<span class="col-sm-6 h3">{{t.title}}</span>
						<span class="col-sm-6 label label-primary">
							{{t.created.month}}-{{t.created.day}}-{{t.created.year}} - @{{t.created.hours}}:{{t.created.minutes}}{{t.created.AM_PM}}
						</span>
					</div>
				</div>
				<div class="panel-body">{{t.desc}}</div>
				<div class="panel-footer" style="">
					<div class="row">
						<button class="btn btn-danger col-sm-6" ng-click="deleteToDo(t)">Delete</button>
						<button class="btn btn-warning col-sm-6" ng-click="openEdit(t)">Edit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>